body{
    background-color:#1e1e1e !important;
    
  }
  @font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  .shake{
    animation: .8s shake infinite alternate;
  }
  @keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  }
  
  
  button {
      margin-right: 10px !important;
  }
  .button-toolbar {
      margin-bottom: 10px;
  }
  .headbar {
      background-color: #2c2a34 !important;
  }
  .subject {
      border-left: none;
      border-right: none;
      border-top: none;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #858485;
      outline: none;
      background: transparent;
      color: white;
      font-weight: 600;
  }
  .btnsub {
      border: none;
      background: transparent;
  }
  .pro{
    background: linear-gradient(90deg, rgba(250,115,12,1) 0%, rgba(183,43,172,1) 100%) !important;
  }
  .native{
    background: transparent !important;
  }
 