.imageEditorApp {
  width: 95vw;
  height: 93vh;
}
.total_search{
    background: transparent !important;
    color: white !important;
    border-left: none !important;
  }
  .total_search:placeholder{
    color: white !important;
  }
  .total_serch:focus{
      outline:none;
  }
  .editor-con{
    overflow-x: hidden;
  }
  .btn_more{
    border: none;
    background: transparent;
    color: orange;
  }
.nav-link:hover {
    background-color: #525252 !important   
}
.nav-link .fa {
    transition: all 1s;   
}
.nav-link:hover .fa {
    transform: rotate(360deg)
}
.input-group-text {
    background: transparent;
    border-right: none;
}
.nav_tab{
  background: transparent;
  color: white;
}
.nav_tab a {
  color: white;
  font-weight: 100;
}
.nav_tab .nav-link.active{
  background: transparent;
  color:white;
  border-color: transparent transparent yellow;
}
.nav_tab .nav-link:hover{
  border-color: transparent transparent yellow;
}
.login{
  border: none;
  color: white;
  background: transparent;
  font-weight: bold;
  font-family: GongGothicMedium;
}
.login:hover {
  color: aquamarine;
}
.textaline{
  border: none;
  background: transparent;
  color: white;
}
.textline:focus{
  color:yellow;
}
.textaline_con{
  border-top: solid 2px #525252;
  border-bottom: solid 2px #525252;
}
.textaline_scon{
  border-right: solid 2px #525252;
}




