.total_search{
    background: transparent !important;
    color: white !important;
    border-left: none !important;
  }
  .total_search:placeholder{
    color: white !important;
  }
  .total_serch:focus{
      outline:none;
  }
  .btn_more{
    border: none;
    background: transparent;
    color: orange;
  }
.nav-link:hover {
    background-color: #525252 !important   
}
.nav-link .fa {
    transition: all 1s;   
}
.nav-link:hover .fa {
    transform: rotate(360deg)
}
.input-group-text {
    background: transparent;
    border-right: none;
}
.nav_tab{
  background: transparent;
  color: white;
}
.nav_tab a {
  color: white;
  font-weight: 100;
}
.nav_tab .nav-link.active{
  background: transparent;
  color:white;
  border-color: transparent transparent yellow;
}
.nav_tab .nav-link:hover{
  border-color: transparent transparent yellow;
}
.login{
  border: none;
  color: white;
  background: transparent;
  font-weight: bold;
  font-family: yg-jalnan;
}
.login:hover {
  color: yellow;
}
.produce{
  border: none;
  border-radius: 4px;
  font-family: yg-jalnan;
  padding: 4px;
  background: rgb(230,15,8);
background: linear-gradient(90deg, rgba(230,15,8,1) 0%, rgba(251,251,251,1) 97%);
}
.produce:hover{
  filter: brightness(80%); 
}




